.error404{
	.page-title{
		text-transform: uppercase;
		font-size: 2.3rem;
		letter-spacing: 2px;
	}
	.page-content{
		font-family: $font_main_light;
	}
	h2{
		font-size: 1.5rem;
		color: $color__purple;
		font-family: $font_titles_bold;
	}
	ul{
		list-style-type: none;
		margin-left: -2.5rem;
	}
	a{
		color: $color__green;
	}
	.search-404{
		margin-left: -5px;
		fieldset{
			border: none;
		}
		button{
			display: none;
		}
		input{
			color: $color__green;
			font-family: $font_main_light;
		}
	}
}