.shop-nav{
	text-align: center;
	margin-top:100px;
	padding-bottom: 45px;
	border-bottom: $border_dash;
	ul{
		list-style-type: none;
		margin: 0 auto;
		padding:0;
		li{
			display: inline-block;
			width: 90px;
		}
	}

	h2{
		font-family: $font_titles_bold;
		line-height: 20px;
	}
	a{
		color:$color__green;
		text-transform: uppercase;
		font-family: $font_titles_normal;
		font-size: 1.2rem;
	}
}

.shop-wrapper{
	display: flex;
	flex-direction: row;
	//justify-content: space-between;
	flex-wrap: wrap;

	article{
		flex-basis: 25%;
	}
}