.journal-stuff-container{
	display: flex;
	flex-direction: row;
	width:1120px;
	justify-content: space-between;	
	.journal-stuff-box{
		flex-basis: 32%;
		border:$border_solid;
		text-align: center;
		font-family: $font_main_light;
		img{
			min-height: 250px;
		}
	}

}

.journal-stuff-box{
	position: relative;
	.journal-stuff-content{
		display: flex;
		flex-direction: column;
		padding: 8px;
		text-align: left;
		padding-bottom: 10px;
		border-top: 4px solid #e1e1e1;
		margin-top: -8px;
		
		h3{
				font-size: 1.2rem;
				line-height: 1.25;
				font-family: $font_titles_bold;
				text-transform: uppercase;
				letter-spacing: 2px;
				padding-bottom: 40px;
				
			a{
				color: $color__green;
				&:hover,&:active{
					text-decoration: none;
					color: #000;
				}
			}
		}

		p{
			font-size: .75rem;
			margin-bottom: -18px;
		}
		
		.btn-black{
			position: absolute;
			bottom: 8px;
		}
		a{
			color:#000;
		&:hover, &:active{
			color: #fff;
		}
		}
	}
}