.front-page-hero{
	background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/home-hero.jpg) no-repeat top;
  background-size: cover,cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

@import "front-shop";
@import "front-blog";
@import "front-adventures";










