//Global Styles
html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
}

//Link styles
a {
	text-decoration: none;
	color:$color__white;
}

a:hover{
	text-decoration: underline;
	color:$color__white;
	cursor:pointer;
}

a:visited{
  color:$color__white;
  cursor:pointer;
}

.content-area {
  min-height: calc(100vh -  #{$footer_height});
}

//Container for center alignment
.container-flex {
	padding: $container_padding;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


//Container to set width
.container{
  width: 1120px; 
  margin: 0 auto;
}

//Different Buttons
.btn{	
  background: #248a83;
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-family: $font_titles_normal;
  font-size: 14.4px;
  font-size: .9rem;
  line-height: 1;
  padding: .75rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  &:hover,&:active{
    background-color: #19625d;
    text-decoration: none;
  }
}

.btn-white{
  @extent .btn;
  background-color: rgba(0,0,0,0);
  border: 1px solid #fff; 
  color: #fff;
  &:hover,&:active{
    border: none;
    background-color: $color__green;
    text-decoration: none;
  }
}

.btn-black{
  @extent .btn;
  background-color: rgba(0,0,0,0);
  border: 1px solid #000; 
  color: #000;
  &:hover,&:active{
    border: none;
    background-color: $color__green;
    text-decoration: none;
  }
}

//Main Content adjustments for fixed header
//styles for header when admin bar is present
.admin-bar{
  .site-header{
    top:32px;
  }
}

.page,.blog,.archive,.single{
  .site-content{
    margin-top: 55px;
  }
  .site-header{
    border-bottom:$border_solid;
    background-color: rgba(255,255,255,.6);
  }
}

.home,.page-template-about{
  .site-content{
    margin-top: 0px;
  }
  .site-header{
    border-bottom:none;
    background-color: rgba(255,255,255,0);
  }
}

.entry-content{
  font-family: $font_main_light;
  font-weight: 200;
}




