.site-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	//text-shadow: 1px 1px 2px #323232;
	font-family: $font_titles_normal;
	height: 55px;
	position: fixed;
	top:0;
	width:100%;
	z-index: 3;

	.site-description{
		display: none;
	}

	.site-branding{
		width: 50px;
		height: auto;
		margin-left: 155px;
	}
	.main-navigation{
			width: 40%;
			li{
				margin-left: 30px;
				a{
					color: $color__green;
					text-transform: uppercase;
				}
			}
		}
	}







