.head{
	height: 55px;
	width:100%;
	z-index: 3;
	position: fixed;
	top:0;
}
.site-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-family: $font_titles_normal;	
	height: 100%;
}
.site-description{
	position: absolute;
  top: -9999px;
  left: -9999px;
}

.site-branding{
	width: 50px;
	height: auto;
}
.main-navigation{
	width: 60%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	.search-toggle{
		margin-left: 15px;
	}
	li{
		margin-left: 15px;
		a{
			color: $color__green;
			text-transform: uppercase;
		&:hover{
			text-decoration: none;
			color: $color__purple;
			}
		}
	}
	.search-toggle{
		color:$color__green;
	&:hover{
		color: $color__purple;
	}
	}
}
	
.logo{	
	width: 50px;
	height: 50px;
	background-image: url(../../images/inhabitent-logo-tent.svg);
	background-size:50px 50px;
}

.home,.page-template-about{
	.logo{	
		width: 50px;
		height: 50px;
		background-image: url(../../images/inhabitent-logo-tent-white.svg);
		background-size:50px 50px;
	}
}
.logo2{	
		width: 50px;
		height: 50px;
		background-image: url(../../images/inhabitent-logo-tent.svg);
		background-size:50px 50px;
	}





