.search-form{
	display: none;
	border-left:1px solid transparent;

	fieldset{
		border:none;
    padding: 0 0 0 .8rem;
	}
	
	.search-label{
		width: 200px;
		display: inline-block;
	}
	input[type=search], textarea {
    background-color: rgba(255,255,255,0);
    border: none;
    border-radius: 0;
    font-family: $font_titles_normal;
    text-transform: uppercase;
    &::placeholder { 
		  color: $color__mediumgrey;
      text-shadow: 0 1px 0 #000;
		}
    &:focus{
    	outline:none;
    }
  }
  
  .fa{
  	font-size: 1rem;
  	color: $color__green;
  }
}

.home,.page-template-about{
  .search-form{
    input[type=search] {
      color: #fff;
    &::placeholder { 
      color: $color__yellow;
      }
    }
  }
}







